body {
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}
.btn-custom {
    margin-top: 20px;
    width: 100%;
}
.btn-custom:hover {
    background-color: #0056b3;
    color: #ffffff;
}